/* 
Project Name: My Site
Client: Ari Korner
Author: Ari Korner
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; 
     -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     background-color: #FFF;
     color: #282b2d;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'dapifer', baskerville, cochin, georgia, times, serif;
     font-weight: 400;
     font-style: normal;
     margin-left: auto;
     margin-right: auto;
     max-width: 1050px;
}

/******************************************
/* LAYOUT                   
/*******************************************/

header {
     height: 60px;
     background: none;
     border-bottom: 1px solid #BDC3C7;
     margin: 20px 35px 0 35px;

}

nav ul {
     display: block;
     float: right;
     font-size: 14px;
     line-height: 1em;
     letter-spacing: 1px;
     padding: 15px 25px 20px 0;
     margin: 0 0 0 0;
}

nav li{
     display: inline-block;
     text-transform: uppercase;
     padding-right: 20px;
     padding-top: 8px;
}

li a {
     color: #282b2d;
     text-decoration: none;
     padding-top: 10px;
}

h1 a {
     color: #282b2d;
     text-decoration: none;
     padding-top: 4px;
}

h1 {
     color: #282b2d;
     font-size: 28px;
     font-family: 'dapifer', baskerville, cochin, georgia, times, serif;
     font-weight: 400;
     font-style: normal;
     padding: 5px 25px 10px 0;
     display: inline-block;
     letter-spacing: 0px;
     text-transform: none;

}

#greeting {
     color: #F39C12;
     font-size: 48px;
     padding-top: 5px;
     font-family: 'dapifer', baskerville, cochin, georgia, times, serif;
     font-weight: 900;
     font-style: normal;


}

h2 {
     font-size: 28px;
     padding-bottom: 0;
     padding-top: 20px;
}

main {
     max-width: 750px;
     margin: 20px 35px 0 35px;
     font-size: 24px;
}

strong a{
     text-decoration: none;
     color: #282b2d;
     border-bottom: 2px solid #F39C12;
}

footer {
     max-width: 1200px;
     margin: 35px 35px 0 35px;
     font-size: 14px;
     border-top: 1px solid #BDC3C7;
     padding-top: 10px;
     text-align: right;
     padding-right: 35px;
}
small {
     font-size: 11px;
     text-transform: uppercase;
     letter-spacing: 1px;

}

li p{
     font-size: 18px;
     padding-top: 10px;
}

h3 {
     padding-top: 20px;
}

h4 {
     text-transform: uppercase;
     font-size: 14px;
     letter-spacing: 1px;
}

p {
     padding-top: 10px;
}

span {
     color: #F39C12;
}
