/* 
Project Name: Resume
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP                   
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right; 
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left; 
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #6C7A89;
     font-size: 12px;
     line-height: 1.4;
     font-family: baskerville, cochin, georgia, times, serif;
     font-weight: 300;
     margin-left: auto;
     margin-right: auto;
     max-width: 1050px;
}

header {
     height: 60px;
     background: #fff;
     border-bottom: 1px solid #BDC3C7;
     margin: 20px 35px 0 35px;

}

nav ul {
     display: block;
     float: right;
     font-size: 14px;
     line-height: 1em;
     letter-spacing: 1px;
     padding: 15px 25px 20px 0;
     margin: 0 0 0 35px;
}

nav li{
     display: inline-block;
     text-transform: uppercase;
     padding-right: 20px;
     padding-top: 8px;
}

li a {
     color: #6C7A89;
     text-decoration: none;
     padding-top: 10px;
}

h1 {
     color: #34495E;
     font-size: 28px;
     font-family: baskerville, cochin, georgia, times, serif;
     padding: 10px 25px 10px 0;
     display: inline-block;
     letter-spacing: 0px;
     text-transform: none;

}

h2 {
     font-size: 28px;
     padding-bottom: 10px;
     padding-top: 20px;
}

main {
     max-width: 750px;
     margin: 20px 35px 0 35px;
     font-size: 24px;
}

strong a{
     text-decoration: none;
     color: #6C7A89;
     border-bottom: 1px solid #34495E;
}

footer {
     max-width: 1200px;
     margin: 35px 35px 0 35px;
     font-size: 14px;
     border-top: 1px solid #BDC3C7;
     padding-top: 10px;
     text-align: right;
     padding-right: 35px;
}
/******************************************
/* LAYOUT                   
/*******************************************/
